@media (max-width: 800px) {
  nav ul li {
    padding: 6px;
  }
  nav ul li a {
    font-size: 13px;
  }
  .profile-page {
    height: 38vh;
  }
  #profile-img-back {
    height: 180px;
    width: 140px;
    border: 2px solid #ff5500;
  }
  #profile-img-back img {
    width: 180px;
  }
  #profile-content {
    height: 22vh;
    /* background-color: green; */
    padding-top: 20px;
  }
  .web-developer {
    letter-spacing: 2px;
  }
  img {
    width: 172px;
  }
  .hi {
    font-size: 11px;
  }
  .profile-para {
    font-size: 1.5vw;
  }
  #hire {
    height: 4vw;
    width: 9vw;
    font-size: 1.6vw;
    /* margin: auto; */
  }
  #cv {
    height: 4vw;
    width: 10vw;
    font-size: 1.5vw;
  }
  #about-pg {
    /* background-color: green; */
    height: 35vh;
    width: 100vw;
  }

  #about-pg .container #profile-content .profile-para {
    line-height: 2vw;
  }
  #about-pg .container #profile-content #profile-img-back {
    width: 23px;
  }

  #contact-page {
    height: 77vh;
  }
  .contact-box {
    margin-top: 1vw;
    /* height: 40vh; */
  }
  .form form {
    height: 420px;
    /* width: 350px; */
    /* background-color: red; */
  }
  .form input {
    margin: 7px 0;
    height: 25px;
  }
  .description {
    font-size: 13px;
    height: 150px;
  }
  .form .sp-btn {
    font-size: 11px;
    height: 25px;
  }
  #formPage {
    height: 74.5vh;
  }
  #form-heading {
    width: 350px;
  }
  .form-box {
    height: 400px;
    width: 350px;
  }
  .skill-box img {
    width: 50vw;
  }
  .form-box input {
    height: 25px;
    /* width: 280px; */
    font-size: 12px;
    margin: 6px 0;
    border-radius: 3px;
  }
  .form-box .sp-btn {
    width: 55px;
    height: 25px;
  }

  #skill-page {
    height: 80vh;
  }
  #skill-page h2 {
    padding-top: 20px;
  }
  .skill-box {
    /* background-color: yellow; */
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
  }
  .skill-items {
    /* background-color: red; */
    width: 50vw;
    height: 27vh;
  }
  .skill-item {
    height: 5vh;
  }
  .skill-img {
    margin-left: 0;
    height: 37vh;
    width: 100%;
  }
}

@media (max-width: 600px) {
  header {
    width: 100vw;
    height: 40px;
  }
  #logo {
    font-size: 20px;
  }
  nav {
    padding-right: 7vw;
    /* margin-right: 20; */
    /* padding-right: 9px; */
  }
  nav ul li {
    padding: 4px;
  }
  nav ul li a {
    font-size: 10px;
  }
  .container {
    width: 100vw;
    height: 30vh;
    /* background-color: green; */
  }
  .web-developer {
    letter-spacing: 1.5px;
  }
  .description {
    font-size: 12px;
  }
  #form-heading {
    width: 360px;
    font-size: 20px;
  }
  .form-box {
    width: 360px;
  }
  #formPage h3 {
    font-size: 20px;
  }
  .form form {
    width: 350px;
    height: 400px;
  }
  .hi {
    font-size: 8px;
  }
}

@media (max-width: 420px) {
  header {
    height: 35px;
  }
  nav {
    padding-right: 50px;
  }
  .hi {
    font-size: 7px;
  }
  .web-developer {
    letter-spacing: 1px;
  }
  #contact-page {
    height: 90vh;
  }
  .contact-box h2 {
    font-size: 20px;
  }
  .form form {
    height: 250px;
    width: 270px;
  }
  .form input {
    /* margin: 7px 0; */
    height: 18px;
    width: 200px;
    font-size: 9px;
    margin: 6px 0;
    border-radius: 3px;
  }
  .description {
    height: 10vh;
    width: 200px;
    display: block;
    border-radius: 5px;
    margin: 5px;
    padding: 7px;
    font-size: 10px;
    border-radius: 3px;
  }
  .form .sp-btn {
    font-size: 11px;
  }

  #skill-page {
    height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding-top: 50px;
    row-gap: 15px;
  }
  #skill-page h2 {
    padding-top: 20px;
    font-size: 20px;
  }
  .skill-box {
    height: 60vh;
  }
  .skill-items {
    width: 240px;
    height: 26vh;
  }
  .skill-item {
    height: 32px;
  }
  .skill-img {
    margin-left: 0;
    height: 30vh;
  }
  .skill-box img {
    width: 240px;
  }
  #form-heading {
    width: 250px;
    font-size: 15px;
  }
  .form-box {
    height: 350px;
    width: 250px;
  }
  .form-box input {
    height: 20px;
    width: 200px;
    font-size: 9px;
    margin: 6px 0;
    border-radius: 3px;
  }
  .form-box .sp-btn {
    width: 50px;
    height: 20px;
  }
  #formPage h3 {
    font-size: 16px;
  }
  .profile-page {
    height: 25vh;
  }
  #about-pg {
    height: 25vh;
  }
  #contact-page {
    height: 50vh;
  }
}

@media (max-width: 380px) {
  #profile-img-back {
    height: 160px;
    width: 120px;
  }
  #profile-img-back img {
    width: 164px;
  }
  .form form {
    height: 260px;
    width: 260px;
  }
  .form .sp-btn {
    width: 50px;
    height: 2.5vh;
  }
}
